 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 32px;
}

.light__header {
  max-width: 1280px;
}

p {
  text-transform: uppercase;
}

.light__Logolink {
  text-decoration: none;
}

.light__NavTreact {
  
}

.light__Navlogo-img {
  width: 40px;
  border: none;
}

.light__DesktopNavLinks {
  display: flex;
  justify-content: space-between;
}

.light__NavLinks {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.light__NavLink {
  padding: 8px;
}

.TwoColumnWithInput__LeftColumn{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: stretch;
}

.TwoColumnWithInput__Heading {
  font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    color: #1A202C;
}

.style__Heading {
  color: #7342d6;
}

.TwoColumnWithInput__Paragraph {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.TwoColumnWithInput__TwoColumn {
   max-width: 1280px;
  display: flex;
  padding: 96px 0;
  justify-content: center;

}

.TwoColumnWithInput__Illustration-img {
  width: 100%;
}

.TwoColumWithInput__CustomerLogoStrip {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.TwoColumnWithInput__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid lightgrey;
  border-radius: 100px;
  width: 100%;
  margin: 20px 192px 20px 32px;
  padding: 16px 0px;

}

button {
  border:none;
  background: #6415FF;
  border-radius: 100px;
  margin: 16px 8px 16px 0px;
  padding: 8px 8px 8px 0px;
  color:#F7FAFC;
  font: 16px;
}

input {
  display: flex;
  border: none;
  height: 20px;
  
}

a {
  text-decoration: none;
}

