@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1280px;
}

body {

}

header {
  height: 100vh;
}

p {
  line-height: 1.8rem;
}

nav {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(148, 229, 183, 0.95);
  margin-bottom: 1px;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: 10px;
}

a {
  text-decoration: none;
  padding-left: 10px;
  margin-left: 10px;
}

.nav__img { 
max-width: 700px;  
width: 50%;
border: 2px greenyellow dotted;
border-radius: 10px;
box-shadow: rgb(82, 3, 3) 1px 1px 5px 3.3px;
background-color: black;
margin: 10px;
}

.landingPage{
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgba(82, 3, 3, 0.442);
   height: calc(100vh - 150px);
}

.landingPage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.landingPage__Title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.landingPage__img {
width: 50px;
height: 40%;
border-radius: 10px;

}

.landingPage__previews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.landingPagepreview__img {
  width: 40px;
}