@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

nav {
  display: flex;
  height: 70px;
  background-color: #cafdff;
  justify-content: space-between;
  align-items: center;
  padding: 8 16px;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding-left: 16px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding-top: 325px 0;
}

h1 {
  font-size: 52px;
}

.subheader {
  font-size: 24px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #cafdff;
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
    padding: 48px 0;
    height: 100vh;
    background-color: #cafdff;
}

.about_img {
    width: 100%;
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 24px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.events__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

#events {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    height: 100vh;
}

.events__img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 12px 5px 1px rgb(67, 72, 77);

}

#events {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}